<footer class="footer">
    <div class="footer-content">
        <p class="m-b-0">Mọi bản quyền thuộc về Trân Anh Badminton.</p>
        <span>
            <a href="https://www.facebook.com/nguyenanhit.dev/" target="_blank" class="text-gray m-r-15">Báo cáo vi phạm bản quyền vui lòng liên hệ ở đây</a>
        </span>
    </div>
</footer>